<div class="container">
  <div class="row">
    <% @videos.each do |video| %>
      <div class="col-md-3 thumb video-thumb" data-video-id="<%= video.id %>">
        <table>
          <tr>
            <td>
            <img src="<%= video.thumbnail_url %>">
            </td>
            <td>
              <table>
              <tr><td>
              Title: <%= video.name %>
              </td></tr>
              <tr><td>
                Shared by: <%= video.user.email %>
                <% if user_signed_in? %>
                <%= image_tag 'like.jpeg', style: 'display:inline;height:5%;width:5%;'-%>
                <% end -%>
              </td></tr>
              <tr><td>
                <%=video.likes-%>
                <%= image_tag 'like.jpeg', style: 'display:inline;height:2%;width:2%;'-%>
                <%=video.dislikes-%>
                <%= image_tag 'dislike.jpeg', style: 'display:inline;height:2%;width:2%;'-%>
              <td></tr>
              <tr><td>
                  Description:
              </td></tr>
              <tr><td>
                    xxxx
              </td></tr>
              </table>
            </td>
          </tr>
          </table>
          <%= link_to 'Play', video,  class:"btn btn-default" %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
      </div>
    </div>
  </div>
</div>
